### Python-SQL Connection

In [9]:
import psycopg2
# "dbname=test user=postgres"
# dbname – the database name (database is a deprecated alias)
# user – user name used to authenticate
# password – password used to authenticate
# host – database host address (defaults to UNIX socket if not provided)
# port – connection port number (defaults to 5432 if not provided)
conn = psycopg2.connect(dbname = 'afyaproduction', 
                        user = 'melton_zheng', 
                        password = '8FbxU0hT(CgcUM9O',
                        host = '34.72.27.131')

cursor = conn.cursor()

In [2]:
cursor.execute('SELECT * FROM public.chat_sessions;')

In [3]:
import numpy as np

np.shape(cursor)

()

In [4]:
test = cursor.fetchall()

In [5]:
np.shape(test)

c:\users\melton\appdata\local\programs\python\python39\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

(174, 26)

In [6]:
test[173]

('53c213f0-ca29-11eb-8fc4-d1320f706d01',
 0,
 'a5e3c008-85ba-4d65-aa15-c9a57bf85359',
 '00000000-0000-0000-0000-000000000048',
 '123e4567-e89b-12d3-a456-426655440000',
 datetime.datetime(2021, 6, 10, 20, 20, 41, 263000),
 datetime.datetime(2021, 6, 21, 17, 38, 17, 534000),
 '{47ea1ec0-3e55-11eb-aae1-7973177dcc63,325bad90-b7fd-11eb-b94b-bdccd56f49bf,422012b0-a471-11eb-95b1-edf4074826fd}',
 'swelling ',
 '47ea1ec0-3e55-11eb-aae1-7973177dcc63',
 '422012b0-a471-11eb-95b1-edf4074826fd',
 'Bruce Reisman',
 'ok',
 'TEXT',
 '{422012b0-a471-11eb-95b1-edf4074826fd,47ea1ec0-3e55-11eb-aae1-7973177dcc63}',
 ['79370020', '28306576', '69944659'],
 '422012b0-a471-11eb-95b1-edf4074826fd',
 datetime.datetime(2021, 6, 16, 23, 48, 7, 678000),
 '325bad90-b7fd-11eb-b94b-bdccd56f49bf',
 '28306576',
 '35c5ebb0-a2f6-11eb-95b1-edf4074826fd',
 'R22.0 Localized swelling, mass and lump, head',
 ['00000'],
 0,
 datetime.datetime(2021, 6, 11, 18, 40, 22, 629000),
 None)

In [10]:
cursor.execute("SELECT * FROM public.chat_sessions LIMIT 0;")

In [11]:
colnames = [desc[0] for desc in cursor.description]

In [12]:
colnames

['id',
 'status',
 'close_codes',
 'speciality',
 'permissions',
 'createdAt',
 'updatedAt',
 'members',
 'chief_complaint',
 'owner_id_1',
 'owner_id_2',
 'last_sender_name',
 'last_sent_message',
 'last_sent_type',
 'read_by',
 'agora_ids',
 'last_sender_id',
 'updatedTime',
 'patient_id',
 'patient_agora_id',
 'org_id',
 'ICD',
 'CPT',
 'is_archive',
 'close_code_date',
 'language']

In [8]:
cursor.close()
conn.close()

### 837P Formatting

In [8]:
import pandas as pd

df = pd.read_excel('Updated_HPSJ837PFieldDescriptionsMeltonEd.xlsx', engine='openpyxl')

In [9]:
df

,Segments,Description,Standard / Default Value,HPSJ's Value,Afya's Database Value,Example,Notes
0,ISA,Interchange Control Header,NaN,NaN,NaN,NaN,NaN
1,ISA00,Segment Name,ISA,NaN,Hard-coded,ISA,NaN
2,ISA01,Authorization Information Qualifer,"00, 03",00 (No Auth Info Present),Hard-coded,00,NaN
3,ISA02,Authorization Information,Required,{10 blank spaces},CLM_TRAD_PARTNER.ISA02,{10 blank spaces},NaN
4,ISA03,Security Information Qualifer,"00, 01",00 (No Security Info Present),Hard-coded,00,NaN
...,...,...,...,...,...,...,...
248,IEA,NaN,NaN,NaN,NaN,NaN,NaN
249,IEA00,Segment Name,IEA,NaN,Hard-coded,IEA,NaN
250,IEA01,Number of Included Functional Groups,Required,Count of # Functional Groups,COUNT (PROGRAMMATICALLY GENERATED),1,NaN
251,IEA02,Interchange Control Number,Required,ICN,CLM_TRAD_PARTNER.ICN,{interchange_control_number },NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def isnan(x):
    try:
        y = float(x)
        return math.isnan(y)
    except:
        return False

In [11]:
import math

test = []
arr = []
for e in df['Example']:
    if(isnan(e)):
        test.append(arr)
        arr = []
    else:
        if(e == '{BLANK}'):
            arr.append('')
        else:
            arr.append(e)

In [12]:
everything = test[1:]

In [13]:
envelope_start = everything[:2]
transaction_arr = everything[2:-2]
envelope_end = everything[-2:]

In [14]:
transaction_arr

[['ST', 837, '{count}', '005010X222A1'],
 ['BHT', '0019', '00', '0123', '{iday}', '{itime}', 'RP'],
 ['NM1', 41, 2, 'AFYA GLOBAL INC', '', '', '', '', 46, '1982269031'],
 ['PER', 'IC', 'AFYA SUPPORT', 'TE', 9493995380, 'EM', 'admin@afyachat.com'],
 ['NM1', 40, 2, 'HPSJ', '', '', '', '', 46, '00303'],
 ['HL', 1, '', 20, 1],
 ['PRV', 'BI', 'PXC', '261QM1300X'],
 ['NM1', 85, 2, 'HUBMD', '', '', '', '', 'XX', '1982269031'],
 ['N3', '104 E Olive Ave', 'Suite 100'],
 ['N4', 'Redlands', 'CA', '92373-5255'],
 ['REF', 'EI', '83-2774928'],
 ['PER', 'IC', 'Stanley Frencher', 'TE', '9094559473'],
 ['HL', 2, 1, 22, 0],
 ['SBR', 'S', 18, '', '', '', '', '', '', 'MC'],
 ['NM1',
  'IL',
  1,
  '{patient_last}',
  '{patient_first}',
  '',
  '',
  '',
  'MI',
  '{hpsj_id}'],
 ['N3', '{patient_address}', ''],
 ['N4', '{patient_city}', '{patient_state}', '{patient_zip}'],
 ['DMG', 'D8', '{patient_dob}', '{patient_gender}'],
 ['NM1', 'PR', 2, 'HPSJ', '', '', '', '', 'PI', '00303'],
 ['N3', '7751 S Manthey Rd', ''],
 ['N4', 'French Camp', 'CA', '95231'],
 ['CLM', '{consult_id}', '34.50', '', '', '02:B:01', 'Y', 'A', 'Y', 'Y'],
 ['DTP', 304, 'D8', '{responded_date}'],
 ['CN1', '05', '0'],
 ['HI', 'ABK:{icd10_code}'],
 ['NM1', 82, '1', '{sr_last}', '{sr_first}', '', '', '', 'XX', '{sr_npi}'],
 ['SBR', 'P', '18', '', '{CCI_BLANK_or_MED}', '', '', '', '', 'MC'],
 ['AMT', 'A8', '0'],
 ['LX', 1],
 ['SV1', '99451:GQ', '34.50', 'UN', '1', '02', '', ''],
 ['DTP', 472, 'D8', 20200226],
 ['SE', '{num_of_lines}', '{count}']]

In [29]:
transaction = ''
newline = '\n'
for t in transaction_arr:
    for i,_t in enumerate(t):
        if i != (len(t)):
            transaction += str(_t)
            transaction += '*'
    transaction += f'~{newline}'

In [32]:
transaction

'ST*837*{count}*005010X222A1*~\nBHT*0019*00*0123*{iday}*{itime}*RP*~\nNM1*41*2*AFYA GLOBAL INC*****46*1982269031*~\nPER*IC*AFYA SUPPORT*TE*9493995380*EM*admin@afyachat.com*~\nNM1*40*2*HPSJ*****46*00303*~\nHL*1**20*1*~\nPRV*BI*PXC*261QM1300X*~\nNM1*85*2*HUBMD*****XX*1982269031*~\nN3*104 E Olive Ave*Suite 100*~\nN4*Redlands*CA*92373-5255*~\nREF*EI*83-2774928*~\nPER*IC*Stanley Frencher*TE*9094559473*~\nHL*2*1*22*0*~\nSBR*S*18*******MC*~\nNM1*IL*1*{patient_last}*{patient_first}****MI*{hpsj_id}*~\nN3*{patient_address}**~\nN4*{patient_city}*{patient_state}*{patient_zip}*~\nDMG*D8*{patient_dob}*{patient_gender}*~\nNM1*PR*2*HPSJ*****PI*00303*~\nN3*7751 S Manthey Rd**~\nN4*French Camp*CA*95231*~\nCLM*{consult_id}*34.50***02:B:01*Y*A*Y*Y*~\nDTP*304*D8*{responded_date}*~\nCN1*05*0*~\nHI*ABK:{icd10_code}*~\nNM1*82*1*{sr_last}*{sr_first}****XX*{sr_npi}*~\nSBR*P*18**{CCI_BLANK_or_MED}*****MC*~\nAMT*A8*0*~\nLX*1*~\nSV1*99451:GQ*34.50*UN*1*02***~\nDTP*472*D8*20200226*~\nSE*{num_of_lines}*{count}*~\n'

In [31]:
print(transaction)

ST*837*{count}*005010X222A1*~
BHT*0019*00*0123*{iday}*{itime}*RP*~
NM1*41*2*AFYA GLOBAL INC*****46*1982269031*~
PER*IC*AFYA SUPPORT*TE*9493995380*EM*admin@afyachat.com*~
NM1*40*2*HPSJ*****46*00303*~
HL*1**20*1*~
PRV*BI*PXC*261QM1300X*~
NM1*85*2*HUBMD*****XX*1982269031*~
N3*104 E Olive Ave*Suite 100*~
N4*Redlands*CA*92373-5255*~
REF*EI*83-2774928*~
PER*IC*Stanley Frencher*TE*9094559473*~
HL*2*1*22*0*~
SBR*S*18*******MC*~
NM1*IL*1*{patient_last}*{patient_first}****MI*{hpsj_id}*~
N3*{patient_address}**~
N4*{patient_city}*{patient_state}*{patient_zip}*~
DMG*D8*{patient_dob}*{patient_gender}*~
NM1*PR*2*HPSJ*****PI*00303*~
N3*7751 S Manthey Rd**~
N4*French Camp*CA*95231*~
CLM*{consult_id}*34.50***02:B:01*Y*A*Y*Y*~
DTP*304*D8*{responded_date}*~
CN1*05*0*~
HI*ABK:{icd10_code}*~
NM1*82*1*{sr_last}*{sr_first}****XX*{sr_npi}*~
SBR*P*18**{CCI_BLANK_or_MED}*****MC*~
AMT*A8*0*~
LX*1*~
SV1*99451:GQ*34.50*UN*1*02***~
DTP*472*D8*20200226*~
SE*{num_of_lines}*{count}*~

In [15]:
class Transaction:
    def __init__(self, count, iday, itime, patient_obj, consult_id, responded_date,
                 icd10_code, sr_last, sr_first, sr_npi, CCI_BLANK_or_MED, MC):
        self.dat = [count,iday,itime,patient_obj, consult_id, responded_date,
                    icd10_code, sr_last, sr_first, sr_npi, CCI_BLANK_or_MED]
        full_data = f'ST*837*{count}*005010X222A1*~\nBHT*0019*00*0123*{iday}*{itime}*RP*~\nNM1*41*2*AFYA GLOBAL INC*****46*1982269031*~\nPER*IC*AFYA SUPPORT*TE*9493995380*EM*admin@afyachat.com*~\nNM1*40*2*HPSJ*****46*00303*~\nHL*1**20*1*~\nPRV*BI*PXC*261QM1300X*~\nNM1*85*2*HUBMD*****XX*1982269031*~\nN3*104 E Olive Ave*Suite 100*~\nN4*Redlands*CA*92373-5255*~\nREF*EI*83-2774928*~\nPER*IC*Stanley Frencher*TE*9094559473*~\nHL*2*1*22*0*~\nSBR*S*18*******MC*~\nNM1*IL*1*{patient_last}*{patient_first}****MI*{hpsj_id}*~\nN3*{patient_address}**~\nN4*{patient_city}*{patient_state}*{patient_zip}*~\nDMG*D8*{patient_dob}*{patient_gender}*~\nNM1*PR*2*HPSJ*****PI*00303*~\nN3*7751 S Manthey Rd**~\nN4*French Camp*CA*95231*~\nCLM*{consult_id}*34.50***02:B:01*Y*A*Y*Y*~\nDTP*304*D8*{responded_date}*~\nCN1*05*0*~\nHI*ABK:{icd10_code}*~\nNM1*82*1*{sr_last}*{sr_first}****XX*{sr_npi}*~\nSBR*P*18**{CCI_BLANK_or_MED}*****MC*~\nAMT*A8*0*~\nLX*1*~\nSV1*99451:GQ*34.50*UN*1*02***~\nDTP*472*D8*20200226*~\nSE*{num_of_lines}*{count}*~\n'

In [16]:
class Patient:
    def __init__(self, patient_last, patient_first, hpsj_id, 
                 patient_address, patient_city, patient_state, patient_zip, 
                 patient_dob, patient_gender):
        self.last = patient_last
        self.first = patient_first
        self.id = hpsj_id
        self.address = patient_address
        self.city = patient_city
        self.state = patient_state
        self.zip = patient_zip
        self.dob = patient_dob
        self.gender = patient_gender